* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333; 
}

/* Estilo do cabeçalho */
header {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    max-width: 200px;
}

h1 {
    font-size: 2.5em;
    color: #e60000; 
    margin: 20px 0;
}

.main-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #e60000; 
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #c60000;
}


.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.car-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; 
}

.car-item img {
    max-width: 100%; 
    border-radius: 5px;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


.alert {
    background-color: #ffcc00; 
    color: #333;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
}


@media (max-width: 768px) {
    .car-list {
        flex-direction: column;
        align-items: center;
    }

    .car-item {
        width: 90%; 
    }
}
